.App {
  text-align: center;
  margin-top: 5%;
}
.paper{
  background-color: #f2f2f2 !important;
  width: 50%;
  margin: 3% auto;
  text-align: right;
  padding: 15px;
}
.button {
  margin: 15px 0 0 !important;
}

.textField {
  background-color: white;
  border: none !important;
  text-decoration: none;
  outline: 'none' !important;
}

.paper2{
  background-color: #f2f2f2 !important;
  width: 50%;
  margin: 3% auto;
  text-align: initial;
  padding: 15px;
}

.card {
  background-color: lightgrey !important;
  padding: 15px;
  margin-bottom: 15px;
}

h2 {
 line-height: 0em;
 margin-bottom: 30px;
}

